nav,.horizontal-align,.siteInfo,ul{
    display: flex;
    align-items: center;
}
nav{
    justify-content: center;
    background-color: #017609;
    width: 100vw;
    padding: 5px 15px;
    margin-top: 10px;
}
.horizontal-align{
    width: 90vw;
    justify-content: space-between;
}
.siteInfo{
    width: 200px;
    justify-content: space-between;
}
.logo img{
    width: 80px;
    border-radius: 50%;
}
.siteTitle{
    text-transform: uppercase;
    font-weight: 550;
    color: white;
}
ul{
    list-style: none;
    display: flex;
    gap: 8px;
}
ul a{
    text-decoration: none;
    color: #046d0b;
    font-weight: 550;
}
ul li{
    padding: 8px 10px;
    border: 2px solid white;
    min-width: 60px;
    text-align: center;
    border-radius: 20px;
    background-color: white;
}

